<component name="ArtifactManager">
  <artifact type="exploded-war" build-on-make="true" name="spring-security-demo:war exploded">
    <output-path>$PROJECT_DIR$/spring-security-demo-starter/spring-security-demo-01-base-app/target/spring-security-demo</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-security-demo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-security-demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.13" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.13" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.13" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.13" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.13" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.13" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.13" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.13" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:5.6.0" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:5.6.0" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-crypto:5.6.0" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:5.6.0" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-taglibs:5.6.0" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-acl:5.6.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.3.13" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.3.13" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.27" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.11.4" />
          <element id="library" level="project" name="Maven: com.mchange:c3p0:0.9.5.5" />
          <element id="library" level="project" name="Maven: com.mchange:mchange-commons-java:0.2.19" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp.jstl:jstl-api:1.2" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp:jsp-api:2.1" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: javax.xml.bind:jaxb-api:2.3.1" />
          <element id="library" level="project" name="Maven: javax.activation:javax.activation-api:1.2.0" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-security-demo-starter/spring-security-demo-01-base-app/target/spring-security-demo/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-security-demo/web/Web" />
    </root>
  </artifact>
</component>